body {
  margin: 0;
  padding: 0;
}
.boton-flotante {
  position: fixed; /* Fija el botón en una posición específica */
  bottom: 20px; /* Distancia desde la parte inferior de la ventana */
  right: 10%; /* Distancia desde el borde derecho de la ventana */
  top: 78%;
  background-color: #d2ddd8; /* Color de fondo del botón */
  color: #006633; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-top-left-radius: 30px; /* Redondea la esquina superior izquierda */
  border-bottom-left-radius: 30px; /* Redondea la esquina inferior izquierda */
  border-top-right-radius: 30px; /* Redondea la esquina superior derecha */
  border-bottom-right-radius: 30px;  
  width: 120px; /* Ancho del botón */
  height: 80px; /* Altura del botón */
  font-size: 24px; /* Tamaño de fuente del icono */
  line-height: 70px; /* Centra verticalmente el icono */
  text-align: center; /* Centra horizontalmente el icono */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
  font-weight: bold;
}

/* Cambia el estilo al pasar el cursor sobre el botón */
.boton-flotante:hover {
  background-color: #d2ddd8; /* Cambia el color de fondo */
}


#contenedori {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('./imagenportada.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#contenedori::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.26);
}

#contenedori>* {
  position: relative;
}

.mensaje-importantei {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: #000000;
  text-align: center;
  line-height: 1.4;
  margin: 20px 0;
}

.mensaje-importantei span {
  color: #3498db;
}

#descripcioni {
  background-color: #00020300;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

#divisioni {
  display: flex;
  flex: 1;
}

#izquierdoi,
#derechoi {
  flex: 1;
  padding: 20px;
}

#izquierdoi {
  background-color: #96dbb300;
  border-radius: 50px;
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
}

#derechoi {
  background-color: #e0d5d300;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#referenciasi {
  background-color: #333;
  color: #ffffff;
  padding: 0px;
  text-align: center;
}

#footer-containeri {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#redes-socialesi {
  font-size: 24px;
  margin-top: 10px;
}

#redes-socialesi a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

#redes-socialesi a:hover {
  color: #ffcc00;
}

.imagen-redondai {
  width: 48%;
  height: 39%;
  border-radius: 50%;
  object-fit: contain;
}

@media (max-width: 768px) {

  #contenedori {
    background-repeat: repeat;
    background-size: auto;
  }

  #divisioni {
    flex-direction: column-reverse;
  }

  #izquierdoi,
  #derechoi {
    order: 1;
  }

  .mensaje-importantei {
    font-size: 1.1em;
  }
}

@media (min-width: 769px) {

  /* En dispositivos de escritorio, asegurarse de que la imagen cubra toda la pantalla */
  #contenedori {
    height: 100vh;
  }
}

#tituloi {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
  margin-top: 10%; 
  font-family: 'Utendo Black';

}

#descripcioni {
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  position: relative;
  font-family: 'Versatylo Rounded';
}

p{
  font-family: 'Versatylo Rounded';
  font-size: 2.5ch;

}