.tituloa {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 3em;
  line-height: 1.5em;
  font-size: 18px;
}

.descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  max-height: 3em;
  line-height: 1.5em;
  font-size: 17px;
}


.layoutp {
  width: 100%;
  height: auto;

  display: grid;
  grid:
    "header header header" auto ". bodyp rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
}

.bodyp {
  grid-area: bodyp;
}

.rightSide {
  grid-area: rightSide;
}

.footer {
  grid-area: footer;
}

#proyectos-container {
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 10px;
}

.proyecto-box {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.proyecto-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 20%;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 200px;
}

.additional-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  max-height: 200px;
}

.additional-image {
  text-align: center;
  margin-bottom: 20px;
}

.additional-image p {
  font-size: 14px;
  margin-top: 5px;
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


@media (max-width: 768px) {
  #proyectos-container {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Ajusta el tamaño mínimo y máximo de los cuadros para dispositivos móviles */
    gap: 10px; /* Ajusta el espacio entre los cuadros en dispositivos móviles */
  }

  .proyecto-box {
    width: 100%;
    margin-bottom: 10px; /* Agrega espacio inferior entre los cuadros en dispositivos móviles */
    margin-right: 20X;
  }

  .layoutp {
    grid:
      "header" auto "bodyp" minmax(0, 1fr)
      "footer" auto / 1fr;
    margin-left: 10px;

  }

  .modal {
    overflow-y: auto;
    margin-top: 20px;
  }

  .modal-content {
    margin: 20px;
    padding: 20px;
    margin-top: auto;
  }

  .close {
    top: 5px;
    right: 5px;
  }
}